/* Body */
html, body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}
body, p, input, select, textarea{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
body, p, h1, h2, h3, h4, h5, h6, input, select, textarea{
    font-weight: 300;
}
.text, .text-area{
   box-sizing: border-box;
   width: 100%;
   border: 1px solid #ccc;
   padding: 10px 15px;
   font-size: 1rem;
}
.text-area{
    height: 140px;
}

/* global styling */
.section{
    padding: 60px 20px;
    border-bottom: 1px solid #f1f1f1;
}
.section-title{
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin: 0;
}
.lead{
    line-height: 1.25;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 35px;

}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.image-rounded{
    border-radius: 100%;
}
.btn{
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    background: #ccc;
    color: #000;
    padding: 15px 20px;
    border: none;
    font-weight: bold;
}
.btn-primary{
    background-color: #446089;
    color: #fff;
}


/* header */
.site-header{
    position: fixed;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.bhar{
    line-height: 1;
    font-size: 1.75rem;
}
.bhar a{
    text-decoration: none;
    color:#CAA265;
}